.fr-toolbar {
  padding:0 !important;
}

.add-new-course-button,
.add-new-user-button ,
#contract-submit-button,
#contract-dismiss-button
{
  margin-left:0 !important;
}

.huge.icon.listing {
  font-size: 34px;
}

.huge-icon {
  font-size:34px;
}

.big-icon {
  font-size:28px;
}
